body {
        font-family: sans-serif;
        }
.mono {font-family: consolas, monospace;}

table {
        font-size: 0.9em;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 3px;
}

th, td {
    text-align: left;
}

.money {
    text-align: right;

}

//Make alternate colours in tables
//tr:nth-child(even){background-color: #f2f2f2}

tr:hover {background-color: #e0e0e0}

th {
    background-color: #4CAF50;
    color: white;
}

input {
    text-align: right;
    border: 1px solid black;

}

.withborder {
    border: 2px solid rgb(0, 204, 122);
    background-color: rgb(234, 255, 237);
}

.z_invalid {
  color: red;
  background-color: #FFFF4D;
}
.z_valid {
  color: #11AA11;
  background-color: #CCFFDD;
}

.notZero {
    background-color: #BBBBFF;
}